.main-card {
  background-color: #1f2535;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px
}
.logos{
  display: flex;
}
.ironhack-logo{
  margin-right: auto;
}
.left-card{
  max-width: 50vw;
}
.texts{
  margin-top: 100px;
  margin-bottom: 50px;
}
h1{
  font-size: 60px;
}
.awesome-button {
  background-color: white;
  color: #1f2535;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.cards{
  display: flex;
  justify-content: space-around;
  margin: 25px;
}
